{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}